body {
    background-color: #323232;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    margin-bottom: 100px;
    color: white;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

table {
    border-collapse: collapse;
}

td {
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    font-size: 24px;
    border: 5px solid white;
    cursor: pointer;
}

td:hover {
    background-color: rgb(103, 103, 103);
}

td:first-child {
    border-left: none;
}

td:last-child {
    border-right: none;
}

tr:first-child td {
    border-top: none;
}

tr:last-child td {
    border-bottom: none;
}
